option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ReplaceWithAppID"
    MASTER_KEY: "ReplaceWithMasterKey"
    FILE_KEY: "ReplaceWithFileKeyIfMigrating"
    DATABASE_URI: "ReplaceWithDatabaseURI"
    NODE_ENV: "production"
    SERVER_URL: "http://myappname.elasticbeanstalk.com/parse"
    PUBLIC_SERVER_URL: "http://myappname.elasticbeanstalk.com/parse"
    S3_BUCKET: "ReplaceWithS3BucketName"
    S3_ACCESS_KEY: "ReplaceWithS3AccessKey"
    S3_SECRET_KEY: "ReplaceWithS3SecretKey"
    SES_FROM_ADDRESS: "ReplaceWithSESFromAddress"
    SES_ACCESS_KEY: "ReplaceWithSESAccessKey"
    SES_SECRET_KEY: "ReplaceWithSESSecretKey"
    SES_REGION: "ReplaceWithSESRegionOrUSEast1"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"